<footer>
  <div class="footer__left">
    <a href="{{ '/' | relative_url }}" class="footer__left__logo">
      <img src="{{ site.footer.logo | relative_url }}" alt="Moss logo" />
    </a>
    <h3 class="footer__left__legal">
      {{ site.footer.legal | newline_to_br }}
      <br />
      <a href="{{ '/privacy' | relative_url }}">Privacy policy</a>
    </h3>
  </div>
  <div class="footer__right">
    {% for link in site.footer.social %}
    <a class="footer__right__social" href="{{ link.url }}" target="_blank">
      <i class="fab fa-{{ link.icon | downcase }}"></i>
    </a>
    {% endfor %}

    <!--  -->
    {% for link in site.footer.links %}
    <h3 class="footer__right__link">
      {% if link.open_in_new_tab %}
      <a href="{{ link.url | relative_url }}" target="_blank">
        { link.text }}
      </a>
      {% else %}
      <a href="{{ link.url | relative_url }}">
        {{ link.text }}
      </a>
      {% endif %}
    </h3>
    {% endfor %}
  </div>
</footer>

<!-- Lazy load if available, otherwise use LazySizes -->
<script>
  const images = document.querySelectorAll('img[loading="lazy"]');
  if ("loading" in HTMLImageElement.prototype) {
    images.forEach((img) => {
      img.src = img.dataset.src;
    });
  } else {
    // Add class to images
    images.forEach((img) => {
      img.classList.add("lazyload");
    });
    // Dynamically import the LazySizes library
    const script = document.createElement("script");
    script.src =
      "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js";
    document.body.appendChild(script);
  }
</script>
