<footer>
  <div class="footer__left">
    <img
      src="{{ site.footer.logo | relative_url }}"
      class="footer__left__logo"
    />
    <div class="small footer__left__legal">
      {{ site.footer.legal | newline_to_br }}
    </div>
  </div>
  <div class="footer__right">
    {% for link in site.footer.links %}
    <p class="footer__right__link">
      {% if link.open_in_new_tab %}
      <a href="{{ link.url }}" target="_blank">
        {% if link.social_icon %}
        <i class="fab fa-{{ link.text | downcase }}"></i>
        {% endif %} {{ link.text }}
      </a>
      {% else %}
      <a href="{{ link.url }}">
        {% if link.social_icon %}
        <i class="fab fa-{{ link.text | downcase }}"></i>
        {% endif %} {{ link.text }}
      </a>
      {% endif %}
    </p>
    {% endfor %}
  </div>
</footer>
