<head>
    <meta charset="UTF-8"/>

    <!-- Enable responsiveness on mobile devices-->
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1" name="viewport"/>


    <!-- Title -->
    <title>
        {{ site.title }}
        &#124;
        {{ site.tagline }}
    </title>

    <!-- Description -->
    <meta name="description" content="{{ site.description }}"/>

    <!-- To remove on publish -->
    <meta content="noindex" name="robots">

    <!-- Thumbnail image -->
    <meta property="og:image" content="{{ site.thumbnail_image | relative_url }}"/>
    <meta content="Moss | Where ideas grow" property="og:site_name"/>
    <meta content="Moss website homepage" name="twitter:image:alt"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}"/>

    {% assign layout = page.layout %}
    {% case layout %}
        {% when 'workspace' %}
            <link rel="stylesheet" href="{{ '/css/workspace.css' | relative_url }}"/>
        {% when 'thesis' %}
            <link rel="stylesheet" href="{{ '/css/thesis.css' | relative_url }}"/>
        {% when 'company' %}
            <link rel="stylesheet" href="{{ '/css/company.css' | relative_url }}"/>
    {% endcase %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}"/>
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}"/>
    <link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | relative_url }}" color="#121212"/>
    <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}"/>
    <meta content="#121212" name="msapplication-TileColor"/>
    <meta name="msapplication-config" content="{{ '/assets/favicon/browserconfig.xml' | relative_url }}"/>
    <meta content="#fcfcfc" name="theme-color"/>

    <!-- Javascript  -->
    <script type="text/javascript" src="{{ '/assets/js/jquery-3.6.0.min.js' | relative_url }}"></script>
    <script async type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% if page.layout == "thesis" %}
        <script async type="text/javascript" src="{{ '/assets/js/thesis.js' | relative_url }}"></script>
    {% elsif page.layout == "workspace" %}
        <script async type="text/javascript" src="{{ '/assets/js/workspace.js' | relative_url }}"></script>
        <script defer type="text/javascript" src="{{ '/assets/js/slick.min.js' | relative_url }}"></script>
    {% endif %}

    <!-- // TODO: uncomment for production! -->
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156611983-1"></script>
        <temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
        dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-156611983-1");
    </script></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp>
    -->
</head>
