<head>
  <meta charset="UTF-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1"
  />

  <!-- Title -->
  <title>
    {{ site.title }} &#124; {{ site.tagline }}
  </title>

  <!-- Description -->
  <meta name="description" content="{{ site.description }}" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
  {% if page.layout == "landing" %}
  <link rel="stylesheet" href="{{ '/css/landing.css' | relative_url }}" />
  {% endif %}

  <!-- Favicon -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}"
  />
  <link
    rel="manifest"
    href="{{ '/assets/favicon/site.webmanifest' | relative_url }}"
  />
  <link
    rel="mask-icon"
    href="{{ '/assets/favicon/safari-pinned-tab.svg' | relative_url }}"
    color="#121212"
  />
  <link
    rel="shortcut icon"
    href="{{ '/assets/favicon/favicon.ico' | relative_url }}"
  />
  <meta name="msapplication-TileColor" content="#121212" />
  <meta
    name="msapplication-config"
    content="{{ '/assets/favicon/browserconfig.xml' | relative_url }}"
  />
  <meta name="theme-color" content="#fcfcfc" />

  <!-- Javascript  -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script
    type="text/javascript"
    src="{{ '/assets/js/main.js' | relative_url }}"
  ></script>
  {% if page.layout == "landing" %}
  <script
    type="text/javascript"
    src="{{ '/assets/js/landing.js' | relative_url }}"
  ></script>
  {% endif %}

  <!-- Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-156611983-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-156611983-1");
  </script>
</head>
