{% if page.layout == 'thesis' %}
    <header class="down dark">
{% else %}
    <header class="down">
{%endif %}
    <div class="header__left">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ site.header.logo | relative_url }}" class="header__left__logo header__logo--dark" alt="Moss logo"/>
            <img src="{{ site.header.logo_light | relative_url }}" class="header__left__logo header__logo--light" alt="Moss logo"/>
        </a>
    </div>
    <div class="header__center">
        {% for item in site.header.navigation %}
            <a href="{{ item.url }}">
                <button class="button--large button--white button--borderless">
                    <img class="header__nav-icon" src="{{ item.icon | relative_url }}"/>
                    <h3>{{ item.text }}</h3>
                </button>
            </a>
        {% endfor %}
    </div>
    <div class="header__right">
        {% for button in site.header.buttons %}
            {% if button.waitlist_button %}
                <button class="header__button header_waitlist-button button--gray-1 button--large" onclick="scrollToSignup();">
                    {{ button.text }}
                </button>
            {% else %}
                <a href="{{ button.url }}">
                    <button class="header__button button--white button--borderless button--large">
                        {{ button.text }}
                    </button>
                </a>
            {% endif %}
        {% endfor %}
        <button class="fullscreen-nav__button button--white button--borderless button--medium" onclick="toggleFullscreenNav()">
            <img class="fullscreen-nav__icon-open" src="{{ site.header.menu_icon | relative_url }}"/>
            <img class="fullscreen-nav__icon-closed" src="{{ site.header.menu_closed_icon | relative_url }}"/>
        </button>
    </div>
</header>

<div class="fullscreen-nav">
    {% for item in site.header.navigation %}
        <a class="fullscreen-nav__item" href="{{ item.url }}">
            <img class="fullscreen-nav__item__icon" src="{{ item.icon | relative_url }}"/>
            <h3>{{ item.text }}</h3>
        </a>
    {% endfor %}
</div>
