<header>
  <div class="header__left">
    <a href="/">
      <img
        src="{{ site.header.logo | relative_url }}"
        class="header__left__logo header__logo--dark"
      />
      <img
        src="{{ site.header.logo_light | relative_url }}"
        class="header__left__logo header__logo--light"
      />
    </a>
  </div>
  <div class="header__right">
    <a href="https://alpha.mossworkspace.com/">
      <button class="button button--white button--medium">
        Sign in
      </button>
    </a>

    <button
      type="submit"
      id="mc-embedded-subscribe"
      class="button button--gray-1 button--medium"
    >
      {{ site.header.button }}
    </button>
  </div>
</header>
