{% if preview %}
    {% assign image = preview.thumbnail %}
    {% assign name = preview.name %}
    {% assign info = preview.show_info %}
    {% assign type = preview.icon %}
{% else %}
    {% assign info = true %}
    {% assign type = 'Image' %}
{% endif %}

{% case type %}
    {% when 'Image' %}
        {% assign icon = '/assets/icons/image-darkGray0.svg' %}
    {% when 'Video' %}
        {% assign icon = '/assets/icons/video-darkGray0.svg' %}
    {% when 'PSD' %}
        {% assign icon = '/assets/icons/psd.svg' %}
    {% when 'AI' %}
        {% assign icon = '/assets/icons/ai.svg' %}
    {% when 'Document' %}
        {% assign icon = '/assets/icons/file-darkGray0.svg' %}
    {% when 'Web' %}
        {% assign icon = '/assets/icons/web-darkGray0.svg' %}
    {% else %}
        {% assign icon = '/assets/icons/image-darkGray0.svg' %}
{% endcase %}


<img class="preview__image preview__first-load" src="{{ image | relative_url }}"/>
{% if info %}
    <div class="preview__info">
        <img class="preview__icon preview__icon--image" data-src="{{ icon | relative_url }}" loading="lazy"/>
        <p class="preview__name">
            {% if name.size > 0 %}
                {{ name }}
            {% else %}
                {{ image | split: '/' | last }}
            {% endif %}
        </p>
        <img class="preview__icon preview__icon--link" src="{{ '/assets/icons/link-linked_blue.svg' | relative_url }}">
    </div>
{% endif %}
