<div class="files__stack__wrapper" id="files__stack__wrapper">
  <div class="files__stack" id="files__stack">
    <div class="files__stack__content">
      <!--  files -->
      <div class="stack__files">
        {% for file in page.files_section.desktop_files limit:36 %}
        <div
          id="stack__file--{{ forloop.index }}"
          class="stack__file stack"
          offset="0"
        >
          <img
            class="stack__file__image"
            data-src="{{ file | relative_url }}"
            alt="desktop image"
            loading="lazy"
          />
          <p class="stack__file__name">
            {{ file | split: '/' | last }}
          </p>
        </div>
        {% endfor %}
      </div>

      <!--  images -->
      {% for image in page.files_section.images %}
      <div
        id="stack__image--{{ forloop.index }}"
        class="stack__image stack"
        offset="0"
      >
        <div class="stack__image__top">
          <div class="stack__image__top--circle"></div>
          <div class="stack__image__top--circle"></div>
          <p class="stack__file__name">
            {{ image | split: '/' | last }}
          </p>
          <div class="stack__image__top--rect"></div>
        </div>
        <img
          class="stack__file__image"
          data-src="{{ image | relative_url }}"
          alt="file image"
          loading="lazy"
        />
      </div>
      {% endfor %}

      <!--  screenshots -->
      {% for screenshot in page.files_section.screenshots %}
      <img
        id="stack__screenshot--{{ forloop.index }}"
        class="stack__screenshot stack"
        offset="0"
        data-src="{{ screenshot | relative_url }}"
        alt="screenshot"
        loading="lazy"
      />
      {% endfor %}

      <!--  file list -->
      <div id="stack__filelist" class="stack__filelist stack" offset="0">
        {% for file in page.files_section.file_list %}
        <div
          class="stack_filelist__file {{ forloop.index | modulo: 2 | replace: '0', 'white' | replace: '1', 'gray' }}"
        >
          <img
            class="stack__filelist__file--icon"
            data-src="{{ '/assets/icons/file-image_darkGray3.svg' | relative_url }}"
            alt="image icon"
            loading="lazy"
          />
          <p class="stack_filelist__file--name">
            {{ file.name }}
          </p>
          <p class="stack_filelist__file--size">
            {{ file.size }}
          </p>
          <p class="stack_filelist__file--type">
            {{ file.type }}
          </p>
        </div>
        {% endfor %}
      </div>

      <!--  messages -->
      {% for message in page.files_section.messages %}
      <div
        id="stack__message--{{ forloop.index }}"
        class="stack__message  stack {{ forloop.index | modulo: 2 | replace: '0', 'blue' | replace: '1', 'gray' }}"
        offset="0"
      >
        {{ message }}
      </div>
      {% endfor %}

      <!--  notifications -->
      {% for notification in page.files_section.notifications %}
      <div
        id="stack__notification--{{ forloop.index }}"
        class="stack__notification stack"
        offset="0"
      >
        <img
          class="stack__notification__icon"
          data-src="{{ notification.icon | relative_url }}"
          alt="Notification icon"
          loading="lazy"
        />
        <div class="stack__notification__text">
          <div class="stack__notification__sender">
            {{ notification.sender }}
          </div>
          <div class="stack__notification__message">
            {{ notification.message }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
