@import "variables";
@import "type";

// General
////////////////////////////////////////////////////////////////////////////////
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $white;
  font-style: normal;
  box-sizing: border-box;
  @include fade-in;
  .dark {
    background-color: $black;
    h1 {
      color: $white;
    }
    h2 {
      color: $light-gray-2;
    }
  }
}

header,
footer {
  padding: 16px;
}

#cookieprompt {
  display: none;
  padding-right: 3px;
  bottom: 16px;
  &:hover,
  &:active {
    background-color: $white;
    cursor: default;
  }
}

.center {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

// Buttons & inputs
////////////////////////////////////////////////////////////////////////////////
.input-button {
  display: flex;
  width: 100%;
  @include gap(5px);
  > div {
    position: relative;
  }
  input {
    flex: 1;
  }
  button {
    flex: 0;
  }
}

.clear {
  margin: 0 !important;
  padding: 0;
}

button,
input {
  &:focus,
  &:active {
    outline: none;
  }
}

.toggle {
  float: right;
  width: 20px;
  border-radius: 100px;
  background-color: $light-gray-4;
  padding: 1px;
  @include transition(background-color, 0.15s, ease);
  &:hover {
    cursor: pointer;
  }
  &--circle {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: $white;
    margin-left: 0;
    @include transition(margin, 0.15s, ease);
  }
  &.on {
    background-color: $blue;
    .toggle--circle {
      margin-left: 10px;
    }
  }
}

// Toast
////////////////////////////////////////////////////////////////////////////////
.toast {
  display: flex;
  position: fixed;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: $dark-gray-2;
  @include fade;
  @include shadow-toast;
  @include gap(5px);
  &:hover,
  &:active {
    background-color: $white;
  }
  p {
    color: $dark-gray-2;
    display: inline;
  }
  a {
    color: $dark-gray-3;
  }
}

// Default content
////////////////////////////////////////////////////////////////////////////////
.default__content {
  margin: 100px auto 0 auto;
  min-height: 90vh;
  width: 80vw;
  max-width: 400px;

  h1 {
    margin-bottom: 26px;
  }

  h3 {
    line-height: 20px;
  }

  a {
    color: inherit;
    &:hover {
      color: $black;
    }
  }

  .divider {
    background-color: $light-gray-2;
    height: 1px;
    border: none;
    margin-top: 62px;
  }

  .privacy__toggle__wrapper {
    width: 100%;
    margin-top: 12px;
    .privacy__toggle__icon,
    .privacy__toggle__text {
      display: inline-block;
      margin-right: 8px;
    }
    .toggle {
      float: right;
    }
  }
}

// Button
////////////////////////////////////////////////////////////////////////////////
@mixin button--black {
  color: $light-gray-3;
  background-color: $black;
  border: 1px solid $dark-gray-3;
  &:hover {
    background: $dark-gray-4;
  }
  &:active {
    background: $dark-gray-3;
  }
}

@mixin button--white {
  background: $white;
  color: $dark-gray-2;
  border: 1px solid $light-gray-2;

  &:hover {
    background: $light-gray-1;
  }

  &:active {
    background: $light-gray-2;
  }
}

.button {
  @include fade-bg;
  @include p;
  line-height: rem(11px);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  text-decoration: none;
  white-space: nowrap;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  button,
  img,
  .icon {
    flex-grow: 0;
  }

  p,
  a,
  span {
    flex: 1;
    line-height: rem(11px);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &:hover {
    cursor: pointer;
  }

  // Colors
  &--white {
    @include button--white;
  }

  &--gray-1 {
    background: $light-gray-1;
    border: 1px solid $light-gray-3;
    color: $dark-gray-3;

    &:hover {
      background: $light-gray-2;
    }

    &:active {
      background: $light-gray-3;
    }
  }

  &--gray-2 {
    background: $light-gray-2;
    border: 1px solid $light-gray-4;
    color: $dark-gray-2;

    &:hover {
      background: $light-gray-3;
    }

    &:active {
      background: $light-gray-4;
    }
  }

  &--blue {
    color: $white;
    background: $light-blue;
    border: 1px solid $blue;

    &:hover {
      background: $mid-blue;
    }

    &:active {
      background: $blue;
    }
  }

  &--black {
    @include button--black;
  }

  &--floating {
    @include shadow-toast;
  }

  &--borderless {
    border: 0 !important;
  }

  // Size
  &--full {
    width: 100%;
  }

  &--large {
    @include h3;
    height: 40px;
    padding: 0 12px;
    @include gap(12px);
  }

  &--medium {
    height: 28px;
    padding: 0 8px;
    @include gap(5px);
  }

  &--small {
    height: 22px;
    padding: 0 5px;
    @include gap(5px);
  }

  &--tiny {
    height: 16px;
    padding: 0 2px;
    @include gap(2px);
  }

  &--circle {
    border-radius: 50%;
    padding: 8px;
  }

  > img,
  > span {
    vertical-align: middle;
  }
}

// Input
////////////////////////////////////////////////////////////////////////////////
.input {
  @include fade;
  background: $white;
  box-shadow: none;
  color: $dark-gray-3;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid $light-gray-2;
  width: 100%;
  -webkit-appearance: none;

  &:hover {
    border-color: $light-gray-3;
  }

  &:focus {
    border-color: $light-gray-4;
  }

  &::placeholder {
    color: $dark-gray-1;
  }

  &:disabled {
    color: $dark-gray-1;
    cursor: not-allowed;

    &:hover,
    &:focus {
      border-color: $light-gray-1;
    }
  }

  &--large {
    @include h3;
    padding: 0 12px;
    height: 40px;
  }

  &--medium {
    @include p;
    padding: 0 8px;
    height: 28px;
  }

  &--full {
    width: 100%;
  }
}
