@import "variables";
@import "type";

// General
////////////////////////////////////////////////////////////////////////////////
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $white;
  font-style: normal;
  box-sizing: border-box;
  @include fade-in;
  &.dark {
    background-color: $black;
    h1,
    h2,
    h3 {
      color: $white;
    }
    h4 {
      color: $light-gray-2;
    }
  }
  &.gray {
    background-color: $light-gray-1;
  }
}

ul {
  list-style-type: none;
}

strong {
  @extend .bold;
}

img {
  width: 100%;
  height: auto;
}

.center {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

// Clear link styling except in a paragraph
a {
  text-decoration: none;
  color: inherit;
}

h4,
h5,
h6,
p {
  > a {
    text-decoration: auto;
    color: auto;
  }
}

// Animation
////////////////////////////////////////////////////////////////////////////////
@mixin animate-keyframes($animation) {
  animation: $animation 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.reveal {
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}

.parallax {
  //transition transform to smooth out jitter
  @include transition(transform, 0.05s, linear);
}

// Layout
////////////////////////////////////////////////////////////////////////////////
.signup-form {
  z-index: 10;
}

section {
  display: block;
  position: relative;
  margin-top: 400px;
  &:first-of-type {
    margin-top: 200px;
    &.fullscreen {
      margin-top: 0;
    }
  }
  &:last-of-type {
    margin-bottom: 200px;
    &.fullscreen {
      margin-bottom: 0;
    }
  }
  &.fullscreen {
    height: 100vh;
    .textblock {
      align-self: flex-end;
    }
    .textblock:only-child {
      align-self: center;
    }
    @include break-below("md") {
      height: calc(100vh - 82px);
    }
  }
  @include break-below("md") {
    margin-top: 300px;
    &:first-of-type {
      margin-top: 150px;
    }
    &:last-of-type {
      margin-bottom: 150px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  padding-right: 64px;
  padding-left: 64px;
  grid-column-gap: 18px;
  grid-row-gap: 0;
  @include break-below("md") {
    padding-right: 26px;
    padding-left: 26px;
    grid-column-gap: 14px;
  }
}

.textblock {
  z-index: 10;
  h1 {
    margin-bottom: 14px;
  }
  h2 {
    margin-bottom: 26px;
  }
  h4 {
    margin-bottom: 46px;
  }
  .textblock {
    align-self: flex-end;
  }
  .textblock:only-child {
    align-self: center;
  }
  @include break-below("md") {
    h1,
    h2 {
      margin-bottom: 18px;
    }
    h4 {
      margin-bottom: 36px;
    }
  }
  &__center {
    @extend .textblock;
    z-index: 800;
    text-align: center;
    @extend .col-8-3;
    @extend .col-md-12;
    h4 {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
    @include break-below("md") {
      h4 {
        width: 100%;
      }
    }
  }
  &__left {
    @extend .col-4-2;
  }
  &__right {
    @extend .col-4-8;
    @include gap-vertical(400px);
  }
  &__left,
  &__right {
    @extend .textblock;
    @extend .col-md-10-2;
    z-index: 800;
    align-self: flex-end;
    // align-self: center;
    button {
      margin-top: 46px;
    }
    @include break-below("md") {
      button {
        margin-top: 36px;
      }
    }
  }
}

.illustration__wrapper + .textblock__right {
  margin-top: 46px;
  align-self: auto;
}

// Cookie prompt
////////////////////////////////////////////////////////////////////////////////
#cookieprompt {
  display: none;
  padding-right: 3px;
  bottom: 16px;
  &:hover,
  &:active {
    background-color: $white;
    cursor: default;
  }
}

// Previews
////////////////////////////////////////////////////////////////////////////////
.preview {
  position: absolute;

  .preview__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .preview__info {
    display: flex;
    padding: 0;
    width: 100%;
    align-items: center;
    @include gap(6px);
    .preview__name {
      display: inline-block;
      vertical-align: top;
      flex: 1;
      color: $dark-gray-1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .preview__icon {
      width: 14px;
      height: 14px;
      border-radius: 2px;
      display: inline-block;
      flex-shrink: 0;

      &--link {
        padding: 6px;
      }
      // @include break-below("md") {
      //   width: 10px;
      //   height: 10px;
      // }
      // @include break-below("xs") {
      //   width: 8px;
      //   height: 8px;
      // }
      &--folder {
        padding-top: 6px;
      }
      &--link {
        float: right;
        @include fade-bg;
        &:hover {
          cursor: pointer;
          background-color: $light-gray-1;
        }
        &:active {
          background-color: $light-gray-2;
        }
      }
    }
  }
}

.preview-grid {
  column-count: 3;
  column-gap: 8px;
  .preview {
    position: relative;
    margin-bottom: 3px;
    width: 100%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    &__grid-gap {
      margin-top: 30vh;
    }
  }
}

// Buttons & inputs
////////////////////////////////////////////////////////////////////////////////
.input-button {
  display: flex;
  @include gap(6px);
  > div {
    position: relative;
  }
  input {
    flex: 1;
  }
  button {
    flex: 0;
  }
  @include break-below("md") {
    display: block;
    @include gap(0);
    button {
      margin-top: 8px;
    }
  }
}

.clear {
  margin: 0 !important;
  padding: 0;
}

button,
input {
  &:focus,
  &:active {
    outline: none;
  }
}

.toggle {
  float: right;
  width: 20px;
  border-radius: 100px;
  background-color: $light-gray-4;
  padding: 1px;
  @include transition(background-color, 0.15s, ease);
  &:hover {
    cursor: pointer;
  }
  &--circle {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: $white;
    margin-left: 0;
    @include transition(margin, 0.15s, ease);
  }
  &.on {
    background-color: $blue;
    .toggle--circle {
      margin-left: 10px;
    }
  }
}

// Toast
////////////////////////////////////////////////////////////////////////////////
.toast {
  display: flex;
  position: fixed;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: $dark-gray-2;
  @include fade;
  @include shadow-toast;
  @include gap(5px);
  &:hover,
  &:active {
    background-color: $white;
  }
  p {
    color: $dark-gray-2;
    display: inline;
  }
  a {
    color: $dark-gray-3;
  }
}

// Default content
////////////////////////////////////////////////////////////////////////////////
.default__content {
  margin: 100px auto 0 auto;
  min-height: 90vh;
  width: 80vw;
  max-width: 400px;

  h1 {
    margin-bottom: 26px;
  }

  h3 {
    line-height: 20px;
  }

  a {
    color: inherit;
    &:hover {
      color: $black;
    }
  }

  .divider {
    background-color: $light-gray-2;
    height: 1px;
    border: none;
    margin-top: 62px;
  }

  .privacy__toggle__wrapper {
    width: 100%;
    margin-top: 12px;
    .privacy__toggle__icon,
    .privacy__toggle__text {
      display: inline-block;
      margin-right: 8px;
    }
    .toggle {
      float: right;
    }
  }
}

// Button
////////////////////////////////////////////////////////////////////////////////

// Button colors
@mixin button--black {
  color: $light-gray-3;
  background-color: $black;
  border: 1px solid $dark-gray-3;
  &:hover {
    background: $dark-gray-4;
  }
  &:active {
    background: $dark-gray-3;
  }
}

@mixin button--white {
  background: $white;
  color: $dark-gray-2;
  border: 1px solid $light-gray-2;
  &:hover {
    background: $light-gray-1;
  }
  &:active {
    background: $light-gray-2;
  }
}
@mixin button--blue {
  color: $white;
  background: $light-blue;
  border: 1px solid $blue;
  &:hover {
    background: $mid-blue;
  }
  &:active {
    background: $blue;
  }
}

@mixin button--gray-1 {
  background: $light-gray-1;
  border: 1px solid $light-gray-3;
  color: $dark-gray-3;
  &:hover {
    background: $light-gray-2;
  }
  &:active {
    background: $light-gray-3;
  }
}

@mixin button--gray-2 {
  background: $light-gray-2;
  border: 1px solid $light-gray-4;
  color: $dark-gray-2;
  &:hover {
    background: $light-gray-3;
  }
  &:active {
    background: $light-gray-4;
  }
}

// Button sizes
@mixin button--full {
  width: 100%;
}

@mixin button--large {
  @include h6;
  height: 46px;
  padding: 0 14px;
  @include gap(8px);
  img {
    width: 18px;
    height: 18px;
  }
}

@mixin button--medium {
  height: 30px;
  padding: 0 8px;
  @include gap(6px);
}

@mixin button--small {
  height: 26px;
  padding: 0 6px;
  @include gap(3px);
}

button {
  @include p;
  @include fade-bg;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  img {
    width: 14px;
    height: 14px;
  }

  button,
  img,
  .icon {
    flex-grow: 0;
  }

  p,
  a,
  span {
    flex: 1;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &:hover {
    cursor: pointer;
  }

  > img,
  > span {
    vertical-align: middle;
  }
}

// Button classes
.button {
  &--white {
    @include button--white;
  }

  &--gray-1 {
    @include button--gray-1;
  }

  &--gray-2 {
    @include button--gray-2;
  }

  &--blue {
    @include button--blue;
  }

  &--black {
    @include button--black;
  }

  &--floating {
    @include shadow-toast;
  }

  &--borderless {
    border: 0 !important;
  }

  &--full {
    @include button--full;
  }

  &--large {
    @include button--large;
  }

  &--medium {
    @include button--medium;
  }

  &--small {
    @include button--small;
  }
}

// Input
////////////////////////////////////////////////////////////////////////////////
.input {
  @include fade;
  background: $light-gray-0;
  box-shadow: none;
  color: $dark-gray-3;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid $light-gray-2;
  width: 100%;
  -webkit-appearance: none;

  &:hover {
    border-color: $light-gray-3;
  }

  &:focus {
    border-color: $light-gray-4;
  }

  &::placeholder {
    color: $dark-gray-1;
  }

  &:disabled {
    color: $dark-gray-1;
    cursor: not-allowed;

    &:hover,
    &:focus {
      border-color: $light-gray-1;
    }
  }

  &--large {
    @include h6;
    padding: 0 14px;
    height: 46px;
  }

  &--medium {
    @include p;
    padding: 0 8px;
    height: 30px;
  }

  &--full {
    width: 100%;
  }
}

body {
  &.gray .button--white {
    @include button--gray-1;
  }
}
