@import "variables";
@import "type";

.company__email {
  background-color: $light-gray-0;
  text-align: center;
  h2 {
    align-self: flex-end;
  }
}

.company__email__image {
  overflow: hidden;
  grid-row: span 2;
  img {
    width: 100%;
    height: auto;
  }
}
