@import "variables";
@import "type";

// General
////////////////////////////////////////////////////////////////////////////////
.company__wrapper {
  overflow-x: hidden;
}

.company__impact,
.company__email {
  @include limit-width;
}

// Info
////////////////////////////////////////////////////////////////////////////////
.company__info {
  margin-top: 10vh !important;
  @include limit-width;
  .textblock {
    h2 {
      max-width: 600px;
    }
    h5 {
      max-width: 425px;
    }
  }
  .company__illustration__wrapper {
    position: relative;
    height: 80vh;
    .preview {
      &:nth-of-type(1) {
        width: 40%;
        right: -10%;
        top: 12%;
      }
      &:nth-of-type(2) {
        width: 30%;
        left: 30%;
        top: 5%;
      }
      &:nth-of-type(3) {
        width: 50%;
        right: 8%;
        top: 22%;
      }
      &:nth-of-type(4) {
        width: 18%;
        left: 15%;
        bottom: 40%;
      }
      &:nth-of-type(5) {
        width: 75%;
        right: -30%;
        bottom: -10%;
      }
    }
    @include break-below("sm") {
      height: 80vh;
      .preview {
        &:nth-of-type(1) {
          width: 70%;
          right: -10%;
          top: 10%;
        }
        &:nth-of-type(2) {
          width: 50%;
          left: -20%;
          top: 40%;
        }
        &:nth-of-type(3) {
          width: 65%;
          right: -15%;
          top: 70%;
        }
        &:nth-of-type(4) {
          width: 20%;
          right: 10%;
          left: auto;
          top: 40%;
        }
        &:nth-of-type(5) {
          display: none;
        }
      }
    }
  }
}

// Impact
////////////////////////////////////////////////////////////////////////////////
.company__impact__header {
  margin-bottom: 26px;
  @include break-below("sm") {
    margin-bottom: 18px;
  }
}

.company__impact__section {
  margin-top: 0;
  grid-row: 2 / span 1;
  img {
    margin-bottom: 36px;
    @include break-below("sm") {
      margin-bottom: 26px;
    }
  }
  .bold {
    margin-bottom: 26px;
    @include break-below("sm") {
      margin-bottom: 18px;
    }
  }
  @include break-below("sm") {
    grid-row: inherit;
    margin-bottom: 150px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.company__impact__extra-info {
  display: flex;
  margin-top: 26px;
  align-items: center;
  @include gap(14px);
  img {
    margin: 0;
    max-width: 100px;
  }
}

// Email
////////////////////////////////////////////////////////////////////////////////
.company__email {
  background-color: $light-gray-0;
  text-align: center;
  padding: 0;
  h2 {
    align-self: flex-end;
  }
  .input {
    background-color: $white;
  }
  @include break-below("sm") {
    display: block;
    height: calc(200vw - 52px);
    margin-left: 26px;
    margin-right: 26px;
    h2,
    .signup-form {
      margin: 0 14px;
    }
  }
}

.company__email__image {
  overflow: hidden;
  grid-row: span 2;
  @include break-below("sm") {
    grid-row: span 1;
    margin-bottom: 25vw;
  }
}
