@import "variables";

footer {
  height: 42px;
  display: flex;
  justify-content: space-between;
  .footer__left {
    display: flex;
    align-items: center;
    &__logo {
      height: 100%;
      width: auto;
      padding-right: 16px;
    }
    &__legal {
      flex-shrink: 0;
    }
  }
  .footer__right {
    text-align: right;
    @include gap-vertical(3px);
    a {
      text-decoration: none;
      color: $dark-gray-1;
      &:hover {
        color: $dark-gray-2;
      }
    }
  }
}
