header {
  height: 28px;
  display: flex;
  justify-content: space-between;
  .header__left {
    display: flex;
    align-items: center;

    .header__left__logo {
      height: 28px;
      width: auto;
      padding-right: 16px;
    }
  }
}
