@import "variables";
@import "base";

header {
  height: 28px;
  display: flex;
  justify-content: space-between;
  background-color: transparent !important;
  #header__scrollbutton {
    display: none;
  }
  @include break-below("sm") {
    .header__left__weather,
    .header__form {
      display: none;
    }
    #header__scrollbutton {
      display: block;
    }
  }
  .header__left {
    display: flex;
    align-items: center;
    &__logo {
      height: 28px;
      width: auto;
      padding-right: 16px;
    }
    .header__logo--light {
      display: none;
    }
  }
  .header__right {
    @include gap(5px);
    display: flex;
    width: 100%;
    max-width: 350px;
    justify-content: flex-end;
    // TODO: address this on white bg
    button {
      background-color: transparent;
    }
    a {
      text-decoration: none;
    }
    .header__form {
      flex: 1;
      .email-input {
        display: flex;
        input {
          flex: 1;
          margin-right: 5px;
        }
      }
    }
  }
  &.dark {
    .header__logo--dark {
      display: none;
    }
    .header__logo--light {
      display: block;
    }
    button {
      @include button--black;
    }
  }
  &.white {
    .header__logo--dark {
      display: block;
    }
    .header__logo--light {
      display: none;
    }
    button {
      @include button--white;
    }
  }
}
