@import "variables";
@import "type";
@import "base";

// General
////////////////////////////////////////////////////////////////////////////////
.textblock {
  margin: 0 auto;
  max-width: 450px;
  width: 40%;
  @include break-below("md") {
    width: 60%;
  }
  @include break-below("sm") {
    width: 80%;
  }
}

// Header
////////////////////////////////////////////////////////////////////////////////
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 900;
  @include fade-in;
}

// Hero
////////////////////////////////////////////////////////////////////////////////
.hero {
  display: flex;
  .hero__video {
    object-fit: cover;
    width: 100vw;
    height: calc(100vh - 60px);
  }
}

// Desktop
////////////////////////////////////////////////////////////////////////////////
.desktop__images {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  max-height: 80vw;
  position: relative;
  @include break-below("md") {
    width: 90%;
  }
  @include break-below("sm") {
    width: 95%;
  }
  .desktop__image {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.09s ease, transform 0.25s ease;
    -moz-transition: opacity 0.09s ease, transform 0.25s ease;
    -o-transition: opacity 0.09s ease, transform 0.25s ease;
    transition: opacity 0.09s ease, transform 0.25s ease;
    &.visible {
      opacity: 1;
    }
    &:first-child {
      left: 0;
      transform: translateY(-70%);
      &.visible {
        transform: translateY(-80%);
      }
    }
    &:nth-child(2) {
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(-40%);
      &.visible {
        transform: translateY(-50%);
      }
    }
    &:nth-child(3) {
      right: 0;
      transform: translateY(-35%);
      &.visible {
        transform: translateY(-45%);
      }
    }
    @include break-below("md") {
      width: 50%;
    }
    @include break-below("sm") {
      width: 60%;
    }
  }
}

// Creativity
////////////////////////////////////////////////////////////////////////////////
.creativity {
  height: 200vh;
  position: relative;
  @include fade-in;
  .textblock {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &__title,
    &__body {
      color: $white;
    }
  }
  &.show-text {
    .textblock {
      opacity: 1;
    }
  }
}
