@import "variables";
@import "type";
@import "base";

// General
////////////////////////////////////////////////////////////////////////////////
.textblock {
  margin: 100px auto;
  max-width: 450px;
  width: 40vw;
  @include break-below("md") {
    width: 50vw;
  }
  @include break-below("sm") {
    width: 60vw;
  }
  &__title {
    margin-bottom: 16px;
    margin-top: 0;
  }
}

.reveal {
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}

.parallax {
  //transition transform to smooth out jitter
  @include transition(transform, 0.05s, linear);
}

// Header
////////////////////////////////////////////////////////////////////////////////
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 900;
  @include fade-in;
}

// Hero
////////////////////////////////////////////////////////////////////////////////
.hero {
  display: flex;
  .hero__video {
    object-fit: cover;
    width: 100vw;
    height: calc(100vh - 60px);
  }
}

// Desktop
////////////////////////////////////////////////////////////////////////////////
.desktop {
  margin-top: 200px;

  .desktop__images {
    width: 75vw;
    height: 100vh;
    max-height: 100vw;
    margin: 0 auto;
    position: relative;
    @include break-below("md") {
      width: 85vw;
    }
    @include break-below("sm") {
      width: 95vw;
    }
    .desktop__image {
      height: auto;
      position: absolute;
      top: 50%;
      -webkit-transition: opacity 0.09s ease, transform 0.25s ease;
      -moz-transition: opacity 0.09s ease, transform 0.25s ease;
      -o-transition: opacity 0.09s ease, transform 0.25s ease;
      transition: opacity 0.09s ease, transform 0.25s ease;
      width: 30vw;
      @include break-below("md") {
        width: 40vw;
      }
      @include break-below("sm") {
        width: 50vw;
      }
      &.visible {
        opacity: 1;
      }
      &:first-child {
        left: 0;
        transform: translateY(-70%);
        &.visible {
          transform: translateY(-80%);
        }
      }
      &:nth-child(2) {
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-40%);
        &.visible {
          transform: translateY(-50%);
        }
      }
      &:nth-child(3) {
        right: 0;
        transform: translateY(-35%);
        &.visible {
          transform: translateY(-45%);
        }
      }
    }
  }
}

// Files
////////////////////////////////////////////////////////////////////////////////
.files__stack__wrapper {
  height: 200vh;
  position: relative;
  .files__stack {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

// Creativity
////////////////////////////////////////////////////////////////////////////////
.creativity {
  @include fade-in;
  .textblock {
    margin: 100vh auto;
    opacity: 0;

    &__title,
    &__body {
      color: $white;
    }
  }
  &.show-text {
    .textblock {
      opacity: 1;
    }
  }
}

// Why
////////////////////////////////////////////////////////////////////////////////
.preview {
  .preview__icons {
    .preview__icon {
      width: 12px;
      height: 12px;
      border-radius: 2px;
      padding: 5px;
      &--image {
        float: left;
        padding-left: 0;
      }
      &--link {
        float: right;
        @include fade-bg;
        &:hover {
          cursor: pointer;
          background-color: $light-gray-1;
        }
        &:active {
          background-color: $light-gray-2;
        }
      }
    }
  }
}

.why {
  height: 200vh;
  max-height: 100vw;
  position: relative;
  .textblock {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .why__parallax--container {
    position: relative;
    width: 100%;
    height: 100%;
    .why__image--large--wrapper {
      position: absolute;
      width: 10vw;
      height: 120vh;
      top: 40vh;
      left: 0;
      @include break-below("md") {
        width: 10vw;
        height: 80vh;
        top: 20vh;
      }
      .why__image--large {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .why__video--wrapper {
      position: absolute;
      width: 15vw;
      height: 80vh;
      top: 10vh;
      right: 0;
      @include break-below("md") {
        width: 10vw;
        height: 60vh;
        top: 0;
      }
      .why__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .why__images--small {
      position: absolute;
      height: auto;
      top: 10vh;
      left: 50vw;
      max-width: 25vw;
      display: flex;
      @include break-below("md") {
        top: -10vh;
        left: 40vw;
        max-width: 30vw;
      }
      .why__image--small--wrapper {
        width: 50vw;
        .why__image--small {
          width: 100%;
          height: auto;
        }
        &:first-child {
          padding-right: 8px;
        }
      }
    }
  }
}

// Final
////////////////////////////////////////////////////////////////////////////////
.final__animation {
  height: 100vh;
  max-height: 80vw;
  margin: 0 auto;
  position: relative;
  width: 50vw;
  @include break-below("md") {
    width: 70vw;
  }
  @include break-below("sm") {
    width: 90vw;
  }
  video {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Tagline
////////////////////////////////////////////////////////////////////////////////
.tagline {
  height: 100vh;
  position: relative;
  .textblock {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &__title {
      display: inline-block;
    }
  }
  .tagline__logo {
    display: inline-block;
    width: 26px;
    margin-bottom: 26px;
  }
}

// Signup
////////////////////////////////////////////////////////////////////////////////
.signup {
  height: 100vh;
  position: relative;
  .textblock {
    max-width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &__body {
      @include h3;
      margin-bottom: 36px;
    }
    .email-input input:first-child {
      margin-bottom: 8px;
    }
  }
}
