@import "variables";
@import "type";

// Layout
////////////////////////////////////////////////////////////////////////////////
.stack {
  opacity: 0;
  @include transition(opacity, 0.09s, ease);
  &.visible {
    opacity: 1;
  }
}

.files__stack__wrapper {
  height: 250vh;
  position: relative;
  .files__stack {
    height: 100vh;
    width: 90vw;
    margin-left: 5vw;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    @include break-below("lg") {
      width: 100vw;
      margin-left: 0;
    }

    .files__stack__content {
      border-radius: 4px;
      width: 90%;
      height: 90%;
      padding: 5%;
      position: relative;
      @include transition(all, 0.5s, ease);

      @include break-below("xs") {
        width: 130%;
        margin-left: -15%;
        padding: 0;
      }

      &.shrink {
        border: 2px solid $dark-gray-2;
        transform: perspective(100px) translateZ(-80px) translateY(20vh);
      }

      // Note: z-index defines load order
      // Lowest number appears first, do not exceed 600

      // Layout desktop files
      .stack__file {
        // give all a fallback
        z-index: 190;
      }
      #stack__file--30,
      #stack__file--20,
      #stack__file--8,
      #stack__file--4,
      #stack__file--5,
      #stack__file--1 {
        z-index: 100;
      }
      #stack__file--33,
      #stack__file--22,
      #stack__file--6,
      #stack__file--10,
      #stack__file--15,
      #stack__file--7 {
        z-index: 110;
      }
      #stack__file--35,
      #stack__file--27,
      #stack__file--18,
      #stack__file--12,
      #stack__file--14,
      #stack__file--2 {
        z-index: 120;
      }
      #stack__file--29,
      #stack__file--19,
      #stack__file--3 {
        z-index: 130;
      }
      #stack__file--26,
      #stack__file--11 {
        z-index: 140;
      }
      #stack__file--28,
      #stack__file--9 {
        z-index: 150;
      }
      #stack__file--31,
      #stack__file--23,
      #stack__file--16 {
        z-index: 160;
      }
      #stack__file--32,
      #stack__file--24,
      #stack__file--13 {
        z-index: 170;
      }
      #stack__file--34,
      #stack__file--25,
      #stack__file--17 {
        z-index: 180;
      }

      // Layout images
      #stack__image--1 {
        width: 40%;
        top: 10%;
        right: 5%;
        z-index: 310;
        @include break-below("md") {
          width: 50%;
          top: 5%;
          right: 8%;
        }
        @include break-below("xs") {
          width: 60%;
          top: 12%;
          right: 20%;
        }
      }
      #stack__image--2 {
        width: 20%;
        bottom: 10%;
        right: 45%;
        z-index: 470;
        @include break-below("md") {
          width: 40%;
          bottom: 2%;
          right: 20%;
        }
        @include break-below("md") {
          width: 40%;
          bottom: 1%;
          right: 15%;
        }
      }

      // Layout messages
      #stack__message--1 {
        top: 20%;
        left: 2%;
        z-index: 510;
        @include break-below("xs") {
          left: 15%;
        }
      }
      #stack__message--2 {
        top: 28%;
        right: 35%;
        z-index: 530;
        @include break-below("md") {
          top: 25%;
        }
        @include break-below("xs") {
          top: 35%;
          right: 15%;
        }
      }
      #stack__message--3 {
        top: 38%;
        left: 12%;
        z-index: 550;
        @include break-below("md") {
          top: 32%;
        }
        @include break-below("xs") {
          top: 50%;
          left: 15%;
        }
      }
      #stack__message--4 {
        bottom: 15%;
        right: 15%;
        z-index: 570;
        @include break-below("md") {
          bottom: 15%;
          right: 10%;
        }
        @include break-below("xs") {
          bottom: 5%;
          right: 50%;
        }
      }

      // Layout notifications
      #stack__notification--1 {
        top: 5%;
        right: 8%;
        z-index: 530;
        @include break-below("md") {
          top: 2%;
          right: 2%;
        }
        @include break-below("xs") {
          right: 13%;
        }
      }
      #stack__notification--2 {
        bottom: 20%;
        left: 2%;
        z-index: 560;
        @include break-below("md") {
          display: none;
        }
      }

      // Layout screenshots
      #stack__screenshot--1 {
        width: 60%;
        top: 30%;
        right: 8%;
        z-index: 430;
        @include break-below("md") {
          width: 80%;
          top: 40%;
          right: 2%;
        }
        @include break-below("xs") {
          width: 80%;
          top: 50%;
        }
      }
      #stack__screenshot--2 {
        width: 20%;
        top: 10%;
        left: 25%;
        z-index: 350;
        @include break-below("md") {
          width: 30%;
          top: 20%;
          left: 15%;
        }
        @include break-below("xs") {
          display: none;
        }
      }
      #stack__screenshot--3 {
        width: 35%;
        bottom: 18%;
        left: 10%;
        z-index: 370;
        @include break-below("md") {
          width: 60%;
          bottom: 10%;
          left: 5%;
        }
        @include break-below("xs") {
          display: none;
        }
      }

      // Layout filelist
      #stack__filelist {
        width: 40%;
        top: 35%;
        left: 4%;
        z-index: 250;
        @include break-below("md") {
          top: 40%;
          left: 2%;
        }
        @include break-below("xs") {
          width: 70%;
          top: 40%;
          left: 10%;
        }
      }
    }
  }
}

// Files
////////////////////////////////////////////////////////////////////////////////
.stack__files {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  @include break-below("md") {
    grid-row-gap: 80px;
    height: 80%;
    margin-top: 10%;
    grid-template-columns: repeat(5, 1fr);
    @for $i from 31 through 50 {
      #stack__file--#{$i} {
        display: none;
      }
    }
  }
  @include break-below("xs") {
    grid-template-columns: repeat(4, 1fr);
    height: 60%;
    margin-top: 20%;
    @for $i from 17 through 50 {
      #stack__file--#{$i} {
        display: none;
      }
    }
  }

  .stack__file {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    .stack__file__image {
      max-width: 60px;
      max-height: 60px;
      border: 5px solid $white;
      @include shadow-menu;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include break-below("lg") {
        max-width: 50px;
        max-height: 50px;
      }
      @include break-below("md") {
        max-width: 40px;
        max-height: 40px;
      }
    }
    .stack__file__name {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100px;
      margin: 0 auto;
      color: $white;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      @include break-below("md") {
        bottom: -40px;
      }
    }
  }
}

// Images
////////////////////////////////////////////////////////////////////////////////
.stack__image {
  position: absolute;
  padding: 0 5px 5px 5px;
  background-color: $light-gray-2;
  border-radius: 5px;
  text-align: center;
  @include shadow-menu;
  .stack__image__top {
    display: flex;
    align-items: center;
    height: 22px;
    &--circle {
      background-color: $light-gray-3;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      &:first-child {
        margin-right: 3px;
      }
    }
    &--rect {
      background-color: $light-gray-3;
      border-radius: 2px;
      width: 22px;
      height: 12px;
    }
    p {
      flex: 1;
      color: $dark-gray-2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  img {
    vertical-align: middle;
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
}

// Messages
////////////////////////////////////////////////////////////////////////////////
.stack__message {
  position: absolute;
  padding: 12px 22px;
  border-radius: 100px;
  color: $light-gray-1;
  font-weight: 200;
  font-size: rem(22px);
  line-height: rem(26px);
  @include break-below("md") {
    padding: 8px 12px;
    font-size: rem(11px);
    line-height: rem(12px);
  }
  // TODO: deal with gray bg on comment spike
  &.blue {
    background-color: $blue;
  }
  &.gray {
    background-color: $dark-gray-3;
  }
}

// Notifications
////////////////////////////////////////////////////////////////////////////////
.stack__notification {
  position: absolute;
  padding: 16px;
  background-color: $dark-gray-3;
  border: 1px solid $dark-gray-1;
  border-radius: 8px;
  width: 450px;
  display: flex;
  align-items: center;
  @include shadow-menu;
  @include break-below("md") {
    padding: 12px;
    width: 250px;
  }
  &__icon {
    display: inline-block;
    margin-right: 16px;
    height: 70px;
    @include break-below("md") {
      height: 42px;
    }
  }
  &__text {
    display: inline-block;
    height: 78px;
    font-weight: 200;
    font-size: rem(22px);
    line-height: rem(26px);
    color: $light-gray-1;
    @include break-below("md") {
      height: 48px;
      font-size: rem(13px);
      line-height: rem(16px);
    }
  }
  &__sender {
    font-weight: 400;
  }
}

// Screenshots
////////////////////////////////////////////////////////////////////////////////
.stack__screenshot {
  position: absolute;
  border-radius: 2px;
  @include shadow-menu;
}

// File list
////////////////////////////////////////////////////////////////////////////////
.stack__filelist {
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  @include shadow-menu;
  .stack_filelist__file {
    display: flex;
    align-items: center;
    padding: 5px 26px;
    &.gray {
      background-color: $light-gray-1;
    }
    &.white {
      background-color: $white;
    }
    img {
      height: 12px;
      width: 12px;
      margin-right: 5px;
    }
    &--name {
      flex: 1;
      color: $dark-gray-3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &--size,
    &--type {
      flex-shrink: 0;
      width: 70px;
      color: $dark-gray-1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include break-below("xs") {
        display: none;
      }
    }
    &--size {
      text-align: right;
      margin-right: 12px;
    }
  }
}
