@import "variables";

// Typography
////////////////////////////////////////////////////////////////////////////////

// Import fonts
@font-face {
  font-family: "Gascogne";
  font-weight: 100;
  src: url("../assets/fonts/GascogneTSXLight.woff2") format("woff2"),
    url("../assets/fonts/GascogneTSXLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: url("../assets/fonts/LabGrotesque-Bold.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 400;
  src: url("../assets/fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: url("../assets/fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 200;
  src: url("../assets/fonts/LabGrotesque-Thin.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Thin.woff") format("woff");
  font-display: swap;
}

* {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  margin: 0;
}

// Mixins
@mixin h1 {
  font-family: "Gascogne", "Times", serif;
  font-weight: 100;
  font-size: rem(100px);
  line-height: rem(125px);
  @include break-below("md") {
    font-size: rem(56px);
    line-height: rem(62px);
  }
}

@mixin h2 {
  font-family: "Gascogne", "Times", serif;
  font-weight: 100;
  font-size: rem(75px);
  line-height: rem(90px);
  @include break-below("md") {
    font-size: rem(40px);
    line-height: rem(46px);
  }
}

@mixin h3 {
  font-family: "Gascogne", "Times", serif;
  font-weight: 100;
  font-size: rem(22px);
  line-height: rem(26px);
}

@mixin h4 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 200;
  font-size: rem(36px);
  line-height: rem(46px);
  @include break-below("md") {
    font-size: rem(22px);
    line-height: rem(26px);
  }
}

@mixin h5 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(26px);
  line-height: rem(36px);
  @include break-below("md") {
    font-size: rem(18px);
    line-height: rem(26px);
  }
}

@mixin h6 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(15px);
  line-height: rem(18px);
}

@mixin p {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(13px);
  line-height: rem(14px);
}

// Styles
h1 {
  @include h1;
  color: $dark-gray-3;
}

h2 {
  @include h2;
  color: $dark-gray-3;
}

h3 {
  @include h3;
  color: $dark-gray-2;
}

h4 {
  @include h4;
  color: $dark-gray-2;
}

h5 {
  @include h5;
  color: $dark-gray-2;
}

p {
  @include p;
  color: $dark-gray-2;
}

.bold {
  font-weight: 500;
}
