@import "variables";

// Typography
////////////////////////////////////////////////////////////////////////////////

// Import fonts
@font-face {
  font-family: "Gascogne";
  font-weight: 100;
  src: url("/assets/fonts/GascogneTSXLight.woff2") format("woff2"),
    url("/assets/fonts/GascogneTSXLight.woff") format("woff");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: url("/assets/fonts/LabGrotesque-Bold.woff2") format("woff2"),
    url("/assets/fonts/LabGrotesque-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 400;
  src: url("/assets/fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("/assets/fonts/LabGrotesque-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: url("/assets/fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("/assets/fonts/LabGrotesque-Light.woff") format("woff");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 200;
  src: url("/assets/fonts/LabGrotesque-Thin.woff2") format("woff2"),
    url("/assets/fonts/LabGrotesque-Thin.woff") format("woff");
}

// Style mixins
@mixin h1 {
  font-family: "Gascogne", "Times", serif;
  font-weight: 100;
  font-size: rem(42px);
  line-height: rem(48px);
  @include break-below("sm") {
    font-size: rem(26px);
    line-height: rem(30px);
  }
}

@mixin h2 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(22px);
  line-height: rem(26px);
  @include break-below("sm") {
    font-size: rem(16px);
    line-height: rem(20px);
  }
}

@mixin h3 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(8px);
  line-height: rem(12px);
}

@mixin p {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(18px);
  line-height: rem(22px);
  @include break-below("sm") {
    font-size: rem(13px);
    line-height: rem(16px);
  }
}

@mixin small-text {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: rem(8px);
  line-height: rem(12px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h1 {
  @include h1;
  color: $dark-gray-4;
}

h2 {
  @include h2;
  color: $dark-gray-1;
}

h3 {
  @include h3;
  color: $dark-gray-3;
}

p {
  @include p;
  color: $dark-gray-3;
  &--bold {
    font-weight: bold;
  }
}

.small {
  @include small-text;
  color: $dark-gray-1;
}
