@import "variables";

// Typography
////////////////////////////////////////////////////////////////////////////////

// Import fonts
@font-face {
  font-family: "Gascogne";
  font-weight: 100;
  src: url("../assets/fonts/GascogneTSXLight.woff2") format("woff2"),
    url("../assets/fonts/GascogneTSXLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: url("../assets/fonts/LabGrotesque-Bold.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 400;
  src: url("../assets/fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: url("../assets/fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 200;
  src: url("../assets/fonts/LabGrotesque-Thin.woff2") format("woff2"),
    url("../assets/fonts/LabGrotesque-Thin.woff") format("woff");
  font-display: swap;
}

* {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  margin: 0;
}

// Mixins
@mixin huge {
  font-family: "Gascogne", "Times", serif;
  font-weight: 100;
  font-size: rem(70px);
  line-height: rem(74px);
  @include break-below("md") {
    font-size: rem(44px);
    line-height: rem(46px);
  }
}

@mixin h1 {
  font-family: "Gascogne", "Times", serif;
  font-weight: 100;
  font-size: rem(52px);
  line-height: rem(62px);
  @include break-below("md") {
    font-size: rem(34px);
    line-height: rem(40px);
  }
}

@mixin h2 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 200;
  font-size: rem(22px);
  line-height: rem(30px);
  @include break-below("xs") {
    font-size: rem(16px);
    line-height: rem(20px);
  }
}

@mixin h3 {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: rem(13px);
  line-height: rem(16px);
}

@mixin p {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 200;
  font-size: rem(11px);
  line-height: rem(12px);
}

@mixin small {
  font-family: "Lab Grotesque", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: rem(9px);
  line-height: rem(12px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark-gray-1;
}

// Styles
.huge {
  @include huge;
  color: $black;
}

h1 {
  @include h1;
  color: $black;
}

h2 {
  @include h2;
  color: $dark-gray-2;
}

h3 {
  @include h3;
  color: $dark-gray-3;
}

p {
  @include p;
  color: $dark-gray-3;
}

.small {
  @include small;
  color: $dark-gray-1;
}
