@import "variables";
@import "type";
@import "base";

// General
////////////////////////////////////////////////////////////////////////////////
.large-demo {
  background-color: red;
  height: 800px; // placeholder value
  margin-bottom: 200px;
  @include break-below("md") {
    margin-bottom: 150px;
  }
}

.workspace__carousel {
  width: 100%;
  display: block;
}

.workspace__carousel__item {
  width: 100%;
}

.workspace__video-button {
  margin-top: 26px;
}

// Landing
////////////////////////////////////////////////////////////////////////////////
.landing {
  height: calc(100vh - 98px);
  @include break-below("md") {
    height: calc(100vh - 82px);
  }
}

.landing__left-preview {
  &:nth-of-type(1) {
    width: 40%;
    top: 0;
    left: -2%;
  }
  &:nth-of-type(2) {
    width: 3%;
    top: 20%;
    left: 22%;
  }
  &:nth-of-type(3) {
    width: 9%;
    top: 30%;
    left: 0;
  }
  &:nth-of-type(4) {
    width: 5%;
    top: 40%;
    left: 7%;
  }
  &:nth-of-type(5) {
    width: 8%;
    top: 75%;
    left: 8%;
  }
  &:nth-of-type(6) {
    width: 3%;
    bottom: 15%;
    left: 18%;
  }
  &:nth-of-type(7) {
    width: 40%;
    bottom: 2%;
    left: -5%;
  }
}

.landing__right-preview {
  &:nth-of-type(8) {
    width: 10%;
    top: -10%;
    right: 0;
  }
  &:nth-of-type(9) {
    width: 6%;
    top: 17%;
    right: 3%;
  }
  &:nth-of-type(10) {
    width: 15%;
    top: 25%;
    right: 5%;
  }
  &:nth-of-type(11) {
    width: 6%;
    top: 60%;
    right: 18%;
  }
  &:nth-of-type(12) {
    width: 5%;
    bottom: 0;
    right: 12%;
  }
  &:nth-of-type(13) {
    width: 12%;
    bottom: 20%;
    right: 0;
  }
  &:nth-of-type(14) {
    width: 15%;
    bottom: 0;
    right: 2%;
  }
}

// Illustrations
////////////////////////////////////////////////////////////////////////////////
.note {
  width: fit-content;
  &__context-bar {
    width: 120px;
    margin-left: -10px;
  }
  &__text {
    @extend .bold;
    border: 1px $light-gray-4 solid;
    padding: 3px;
    color: $dark-gray-2;
    border-radius: 2px;
  }
}

.illustration__wrapper {
  height: 150vh;
  position: relative;
  @include break-below("md") {
    height: 100vh;
  }
  &.middle__illustration {
    grid-row: 3 / span 2;
    @include break-below("md") {
      grid-row: span 1;
    }
    &__with-upper {
      grid-row: 4 / span 2;
    }
  }
}

.illustration__brainstorm__preview {
  &:nth-of-type(1) {
    width: 30%;
    top: 0;
    left: 10%;
  }
  &:nth-of-type(2) {
    width: 30%;
    top: 10%;
    left: 15%;
  }
  &:nth-of-type(3) {
    width: 20%;
    bottom: 15%;
    right: 0;
  }
  &:nth-of-type(4) {
    width: 15%;
    bottom: 20%;
    right: -64px;
  }
}

.illustration__stack {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  @include break-below("md") {
    top: 20vh;
  }
  .preview {
    width: 50%;
    height: auto;
    &:first-of-type {
      left: 15%;
      top: 15%;
    }
    &:nth-of-type(2) {
      left: 25%;
      top: 25%;
    }
    &:nth-of-type(3) {
      left: 35%;
      top: 35%;
    }
  }
}

.illustration__collection {
  position: sticky;
  position: -webkit-sticky;
  top: 15vh;
  width: 100%;
  .preview-grid {
    margin-left: -25%;
    width: 85%;
    .animate-keyframes {
      @include animate-keyframes(align-animation);
      @keyframes align-animation {
        0% {
          padding-top: 10vh;
          left: -10vw;
        }
        15% {
          padding-top: 0;
          left: 0;
        }
      }
    }
  }
  &__pullout {
    position: absolute;
    width: 30%;
    right: 0;
    top: 30vh;
  }
}

.illustration__scattered__preview {
  &:nth-of-type(1) {
    width: 20%;
    top: -10%;
    right: 10%;
  }
  &:nth-of-type(2) {
    width: 30%;
    top: 50%;
    left: 25%;
  }
  &:nth-of-type(3) {
    width: 30%;
    top: 70%;
    right: 20%;
  }
}

// Slick slider
////////////////////////////////////////////////////////////////////////////////
.workspace__carousel__button {
  margin-bottom: 8px;
  &.active {
    @extend .button--gray-1;
  }
  @include break-below("md") {
    @include button--medium;
  }
}

.slick {
  margin-top: 46px;
  @include break-below("md") {
    margin-top: 26px;
  }
}

.workspace__carousel__item {
  text-align: center;
  img {
    border-radius: 2px;
    @include fade;
  }
  p {
    opacity: 0;
    margin: 46px auto 0 auto;
    width: 80%;
    max-width: 700px;
    @include fade;
    @include break-below("md") {
      width: 100%;
      margin: 26px auto 0 auto;
    }
  }
}

.slick-center {
  img {
    @include shadow-menu;
  }
  p {
    opacity: 1;
  }
}

// Manage margins between slides
$margin: 9px;
$margin-md: 7px;

.slick-slide {
  margin: 0 $margin;
  @include break-below("md") {
    margin: 0 $margin-md;
  }
}

.slick-list {
  margin: 0 -$margin;
  @include break-below("md") {
    margin: 0 -$margin-md;
  }
}
