@import "variables";
@import "type";
@import "base";

// General
////////////////////////////////////////////////////////////////////////////////
.large-demo {
  @extend .col-12;
  background-color: red;
  height: 800px; // placeholder value
}

.workspace__carousel {
  width: 100%;
  display: block;
}

.workspace__carousel__item {
  width: 100%;
}

.workspace__video-button {
  margin-top: 26px;
}

// Slick slider
////////////////////////////////////////////////////////////////////////////////
.workspace__carousel__button {
  &.active {
    @extend .button--gray-1;
  }
}

.workspace__carousel__item {
  background-color: red;
}

.slick {
  margin-top: 46px;
  @include break-below("md") {
    margin-top: 26px;
  }
}

.slick-slide {
  margin: 0 18px;
  @include break-below("md") {
    margin: 0 14px;
  }
}

.slick-list {
  margin: 0 -18px;
  @include break-below("md") {
    margin: 0 -14px;
  }
}
