<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <section class="hero">
      <div class="hero__video">
        <video src="{{ page.hero_video }}" autoplay loop mute />
      </div>
    </section>

    {% include header.html %}

    <section class="desktop">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.desktop_section.title }}
        </h1>
        <p class="textblock__body">
          {{ page.desktop_section.body }}
        </p>
      </div>
      <div class="desktop__images">
        {% for image in page.desktop_section.images %}
        <img src="{{ image }}" class="desktop__image" />
        {% endfor %}
      </div>
    </section>

    <section class="files">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.files_section.title }}
        </h1>
        <p class="textblock__body">
          {{ page.files_section.body }}
        </p>
      </div>
      <!-- TODO: add stack code once design is final -->
    </section>

    <section
      class="creativity"
      style="background-color: {{ background_color}};"
    >
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.creativity_section.title }}
        </h1>
        <p class="textblock__body">
          {{ page.creativity_section.body }}
        </p>
      </div>
    </section>

    <section class="why">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.why_section.title }}
        </h1>
        <p class="textblock__body">
          {{ page.why_section.body }}
        </p>
      </div>
      <div class="why__images--large">
        {% for image in why_section.large_images %}
        <img src="image" class="why__image--large preview" />
        {% endfor %}
      </div>
      <div class="why__images--small">
        {% for image in why_section.small_images %}
        <img src="image" class="why__image--small preview" />
        {% endfor %}
      </div>
    </section>

    <section class="final">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.why_section.title }}
        </h1>
        <p class="textblock__body">
          {{ page.why_section.body }}
        </p>
      </div>
      <div class="final__animation">
        <video src="{{ page.final_section.animation}}" autoplay loop mute />
      </div>
    </section>

    <section class="tagline">
      <h1 class="section__title">
        {{ site.tagline }}
      </h1>
      <img src="" class="tagline__logo" />
    </section>

    <section class="signup">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.why_section.title }}
        </h1>
        <div class="signup__form">
          {% include signup_form.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
