<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="hero">
      <video
        class="hero__video"
        id="hero__video--landscape"
        autoplay
        muted
        loop
      >
        <source src="{{ page.hero_video.landscape }}" type="video/mp4" />
      </video>
      <video class="hero__video" id="hero__video--portrait" autoplay muted loop>
        <source src="{{ page.hero_video.portrait }}" type="video/mp4" />
      </video>
    </div>

    {% include header.html %}

    <section class="desktop">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.desktop_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.desktop_section.body }}
        </h2>
      </div>
      <div class="desktop__images">
        {% for image in page.desktop_section.images %}
        <img
          src="{{ image }}"
          class="desktop__image reveal"
          offset="{{ forloop.index | replace: '1', '.1' | replace: '2', '.05' | replace: '3', '.2' }}"
        />
        {% endfor %}
      </div>
    </section>

    <section class="files">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.files_section.title }}
        </h1>
        <h2 class="textblock__body files__body--1">
          {{ page.files_section.body_1 }}
        </h2>
        <h2 class="textblock__body files__body--2">
          {{ page.files_section.body_2 }}
        </h2>
      </div>

      {% include stack.html %}
    </section>

    <section class="creativity" id="creativity">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.creativity_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.creativity_section.body }}
        </h2>
      </div>
    </section>

    <section class="why">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.why_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.why_section.body }}
        </h2>
      </div>
      <div class="why__parallax--container">
        <div class="why__image--large--wrapper preview parallax" speed="2">
          <img
            class="why__image--large"
            src="{{ page.why_section.large_image }}"
          />
          <div class="preview__icons">
            <img
              class="preview__icon preview__icon--link"
              src="/assets/icons/link-linked_blue.svg"
            />
          </div>
        </div>
        <div class="why__video--wrapper preview parallax" speed="5">
          <video class="why__video" autoplay muted loop>
            <source src="{{ page.why_section.video}}" type="video/mp4" />
          </video>
          <div class="preview__icons">
            <img
              class="preview__icon preview__icon--image"
              src="/assets/icons/file-video_darkGray2.svg"
            />
          </div>
        </div>
        <div class="why__images--small">
          {% for image in page.why_section.small_images limit:2 %}
          <div class="why__image--small--wrapper preview">
            <img class="why__image--small" src="{{ image }}" />
            <div class="preview__icons">
              <img
                class="preview__icon preview__icon--image"
                src="/assets/icons/file-image_darkGray2.svg"
              />
              <img
                class="preview__icon preview__icon--link"
                src="/assets/icons/link-linked_blue.svg"
              />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="final">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.final_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.final_section.body }}
        </h2>
      </div>
      <div class="final__animation">
        <video autoplay muted loop>
          <source src="{{ page.final_section.animation }}" type="video/mp4" />
        </video>
      </div>
    </section>

    <section class="tagline">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ site.tagline }}
        </h1>
        <img class="tagline__logo" src="{{ site.footer.logo }}" />
      </div>
    </section>

    <section class="signup" id="signup">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.sign_up.title }}
        </h1>
        <h3 class="textblock__body">
          {{ page.sign_up.body | newline_to_br }}
        </h3>
        <div class="signup__form">
          {% include signup_form.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
