<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include cookie_prompt.html %} {% include header.html %}

    <section class="hero" id="hero">
      <div class="hero__images">
        {% for image in page.hero.images.left limit:4 %}
        <div
          class="preview parallax"
          speed="{{ forloop.index | replace: '1', '9' | replace: '2', '7' | replace: '3', '8' | replace: '4', '9' }}"
        >
          {% include preview.html %}
        </div>
        {% endfor %} {% for image in page.hero.images.right limit:5 %}
        <div
          class="preview parallax"
          speed="{{ forloop.index | replace: '1', '7' | replace: '2', '7' | replace: '3', '8' | replace: '4', '9' | replace: '5', '9' }}"
        >
          {% include preview.html %}
        </div>
        {% endfor %} {% for dot in page.hero.images.dots limit:2 %}
        <img
          class="hero__image--dot hero__image--dot--{{ forloop.index }}"
          src="{{ dot | relative_url }}"
        />
        {% endfor %}
        <img
          class="hero__image--tag"
          src="{{ page.hero.images.tag | relative_url }}"
        />
      </div>
      <div class="textblock__wrapper">
        <div class="textblock">
          <h1 class="textblock__title huge">
            {{ page.hero.title }}
          </h1>
          <h2 class="textblock__body">
            {{ page.hero.body }}
          </h2>
          <div class="signup__form">
            {% include signup_form.html %}
          </div>
          <button
            class="textblock__subtitle button button--white button--small button--borderless"
            onclick="scrollToManifesto();"
          >
            {{ page.hero.subtitle }}
          </button>
        </div>
      </div>
    </section>

    <section class="desktop" id="desktop">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.desktop_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.desktop_section.body }}
        </h2>
      </div>
      <div class="desktop__images">
        {% for image in page.desktop_section.images %}
        <img
          src="{{ image | relative_url }}"
          class="desktop__image reveal"
          offset="{{ forloop.index | replace: '1', '.1' | replace: '2', '.05' | replace: '3', '.2' }}"
        />
        {% endfor %}
      </div>
    </section>

    <section class="files" id="files">
      <div class="textblock files__textblock--1">
        <h1 class="textblock__title">
          {{ page.files_section.title_1 }}
        </h1>
        <h2 class="textblock__body files__body--1">
          {{ page.files_section.body_1 }}
        </h2>
      </div>

      {% include stack.html %}

      <div class="textblock files__textblock--2">
        <h1 class="textblock__title">
          {{ page.files_section.title_2 }}
        </h1>
        <h2 class="textblock__body files__body--1">
          {{ page.files_section.body_2 }}
        </h2>
      </div>
    </section>

    <section class="creativity" id="creativity">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.creativity_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.creativity_section.body }}
        </h2>
      </div>
      <div class="parallax__wrapper">
        {% for image in page.creativity_section.image_grid limit: 1 %}
        <div class="creativity__grid--pullout preview parallax" speed="9">
          {% include preview.html %}
        </div>
        {% endfor %}
        <div class="creativity__grid parallax" speed="6">
          {% for image in page.creativity_section.image_grid offset:1 limit: 7
          %}
          <div class="preview">
            {% include preview.html %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="why">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.why_section.title }}
        </h1>
        <h2 class="textblock__body">
          {{ page.why_section.body }}
        </h2>
      </div>
      <div class="parallax__wrapper">
        {% for image in page.why_section.images limit: 3 %}
        <div
          class="preview parallax"
          speed="{{ forloop.index | replace: '1', '9' | replace: '2', '3' | replace: '3', '6' }}"
        >
          {% include preview.html %}
        </div>
        {% endfor %}
        <img
          class="why__note parallax"
          speed="3"
          src="{{ page.why_section.note | relative_url }}"
        />
        <img
          class="why__tag parallax"
          speed="9"
          src="{{ page.why_section.tag | relative_url }}"
        />
      </div>
    </section>

    <section class="final">
      <div class="textblock">
        <h1 class="textblock__title">
          {{ page.final_section.title }}
        </h1>
      </div>

      <div class="parallax__wrapper">
        {% for image in page.final_section.images limit: 4 %}
        <div
          class="preview parallax"
          speed="{{ forloop.index | replace: '1', '6' | replace: '2', '9' | replace: '3', '3' | replace: '4', '6' }}"
        >
          {% include preview.html %}
        </div>
        {% endfor %}
      </div>

      <div class="textblock">
        <h2 class="textblock__body">
          {{ page.final_section.body }}
        </h2>
      </div>
    </section>

    <section class="tagline" id="tagline">
      <div class="textblock center">
        <h1 class="textblock__title">
          {{ site.tagline }}
        </h1>
        <img
          class="tagline__logo"
          src="{{ site.footer.logo | relative_url }}"
        />
        <div class="signup__form input-button" id="mc_embed_signup_scroll">
          <input
            class="input input--large"
            placeholder="{{ page.hero.placeholder }}"
            type="email"
            value=""
            name="EMAIL"
            required
            id="tagline-email"
          />
          <button
            type="submit"
            class="button button--blue button--large button--full"
            onclick="joinWaitlist();"
          >
            {{ page.hero.button }}
          </button>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
